{% extends 'flatpages/default.html' %}

{% load i18n %}
{% load tz %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News page
{% endblock title %}

{% block content %}
    <style>
        body {background-color: {% if current_time.hour >= 19 or current_time.hour <= 7 %} darkcyan {% else %} powderblue {% endif %};}
    </style>
    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
        {% get_current_language as LANGUAGE_CODE %}

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>
<hr>
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">{% trans "Time zone" %}:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }}
<hr>
    <h2>{% trans "All posts" %}:</h2>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="{% trans 'Search'  %}" />
   </form>
<h6>{% trans "Number of posts" %}: >>> {{ posts|length }} <<<</h6>
<hr>
    {% if perms.newsapp.add_post %}
    <a href="{% url 'post_create' %}">{% trans "Add post" %}</a>
    {% endif %}

    {% if posts %}
<head>
  <meta charset="utf-8">

  <style>
   table {
    width: 800px; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>
 </head>
<body>
        <table>
            <tr>
                <td> {% trans "Number" %} </td>
                <td> {% trans "Category" %} </td>
                <td> {% trans "Title" %} </td>
                <td> {% trans "Text" %} </td>
                <td> {% trans "Publish date" %} </td>

                {% if perms.newsapp.edit_post or perms.newsapp.delete_post %}
                <td> {% trans "Actions" %} </td>
                {% endif %}
                            </tr>
            {% for post in posts %}
            <tr>

                <td><a href="/news/{{ post.pk }}">{{ post.pk }}</a></td>
                <td>
                    {% for cat in post.postCategory.all %}
                        <a href="{% url 'category_list' pk=cat.id %}">{{ cat.name }}</a>
                    {% endfor %}
                </td>
                <td>{{ post.title|censor }}</td>
                <td>{{ post.text|censor|truncatechars:20 }}</td>
                <td>{{ post.dateCreation|date:'M d Y' }}</td>
                <td>
                    {% if perms.newsapp.change_post %}
                    <a href="{% url 'post_edit' pk=post.id %}">{% trans "Edit" %}</a>
                    {% endif %}
                    {% if perms.newsapp.delete_post %}
                    <a href="{% url 'post_delete' post.id %}">{% trans "Delete" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>{% trans "No posts" %}!</h3>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
</body>